.actions-page {
  flex-direction: column;
  text-align: center;
}

#csvFileInput {
  display: none; /* hide the default upload button */
}

.custom-file-input {
  padding: 10px 20px;
  background-color: var(--highlight-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-input:hover {
  background-color: #ff7556;
}

.custom-file-input:active {
  background-color: #ffa490;
}

.clear-button {
  cursor: pointer;
  color: #ff0000;
  text-decoration: underline;
}

@media (max-width: 468px) {
  .actions-page h1 {
    font-size: 1.5rem;
  }
}
