/* --- GENERAL ADJUSTMENTS ---  */
.navbar {
  justify-content: center;
}

.account {
  display: none;
}

.form-page {
  background-image: url("../Images/Account2.png");
}

/* --- CONTAINER --- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Form Container */
.form-container {
  margin: 0 auto;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-width: 400px;
  width: 100%;
}

/* Form Header */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background-color: #222222;
  color: #747475; /* text color */
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Fieldset */
fieldset {
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
}

/* Submit Button */
.submit-btn {
  display: block;
  width: 100%;
  background: #007bff;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #0056b3;
}

.error {
  border: red 1px solid;
}

.input-error-message,
.form-error-message {
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  display: block;
}
