/* --- BACKGROUND IMAGE --- */
.dashboard-page {
  position: absolute;
  top: 0;
  z-index: 0;
}

.dashboard-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* --- MAIN FRAME --- */
.main-frame {
  position: relative;
  margin-top: var(--navbarHeight); /* need to find a better fix later */
  height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-frame h1,
.main-frame p {
  position: relative;
  z-index: 2;
}

.bottom-image-text {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  height: 30%;
  margin-bottom: 30px;
}

.welcome-text {
  text-align: left;
}

.monthly-charges {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.monthly-charges h1 {
  text-align: right;
  margin-bottom: 0px;
}

.monthly-charges span {
  color: var(--highlight-color);
}

#time {
  font-size: 4rem;
  margin: 0px;
}

#date {
  font-size: 1.5rem;
  margin: 0px;
}

#welcome-message {
  font-size: 3rem;
  margin: 0px;
  margin-top: 10px;
}

.main-frame a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .welcome-text {
    bottom: 5%;
    left: 5%;
  }

  #time {
    font-size: 3rem;
  }

  #date {
    font-size: 1rem;
  }

  #welcome-message {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  #welcome-message {
    font-size: 1.75rem;
  }
}
