/* --- NAVBAR --- */
.connected-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: fit-content;
  padding: 0 10px;
}

.connected-user p {
  color: #ffffff;
  font-size: 0.8rem;
}

#emailAddress {
  color: #cccccc;
}

.connected-user img {
  width: 25px;
}

#logout {
  cursor: pointer;
}

/* * --- GENERAL --- */
.dashboard-page {
  background-image: url("../Images/time-of-day/night.png");
}
