:root {
  --background-color: #fff;
  --footer-background-color: #000;
  --border-color: #fff;
  --text-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3,
span,
p {
  color: var(--text-color);
}

/* --- NAVBAR --- */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  box-sizing: border-box; /* make sure the padding is inside the div element */
  padding: 0 2.5%;
}

.account {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 250px;
}

.account img {
  width: 40px;
}

/* --- FOOTER --- */
.footer {
  background-color: var(--footer-background-color);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  font-size: 1rem;
  margin: 0;
}

.footer-content .social-media {
  display: flex;
  gap: 20px;
}

.footer-content .social-media img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* --- PAGE IMAGE --- */
.page-image {
  width: 100%;
  height: calc(100vh - var(--footerHeight));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 990px) {
  .footer-content {
    width: 75%;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .navbar {
    height: 40px;
  }

  .footer {
    height: 30px;
  }

  .footer-content {
    width: 85%;
  }

  .footer p {
    font-size: 0.75rem;
  }
}
