:root {
  --background-color: #fff;
  --footer-background-color: #000;
  --border-color: #fff;
  --text-color: #fff;
  --highlight-color: #ff5733;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
span,
p {
  color: var(--text-color);
}

/* --- NAVBAR --- */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  box-sizing: border-box; /* make sure the padding is inside the div element */
  padding: 0 2.5%;
}

/* --- LINKS --- */
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-links a.current-page {
  color: var(--highlight-color);
}

.nav-links a.current-page::after {
  width: 100%;
  background-color: var(--highlight-color);
}

.nav-links a::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* --- CONNECTED USER --- */
.connected-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: fit-content;
  padding: 0 10px;
}

.connected-user p {
  color: #ffffff;
  font-size: 0.8rem;
}

#emailAddress {
  color: #cccccc;
}

.connected-user img {
  width: 25px;
}

#logout {
  cursor: pointer;
}

/* --- ACCOUNT --- */
.account {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 250px;
}

.account img {
  width: 40px;
}

/* --- FOOTER --- */
.footer {
  background-color: var(--footer-background-color);
  height: 60px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  font-size: 1rem;
  margin: 0;
}

.footer-content .social-media {
  display: flex;
  gap: 20px;
}

.footer-content .social-media img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* --- PAGE IMAGE --- */
.page-image {
  width: 100%;
  height: calc(100vh - var(--footerHeight));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1200px) {
  .nav-links {
    display: none;
  }

  .connected-user {
    display: none;
  }
}

@media (max-width: 990px) {
  .footer-content {
    width: 75%;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .footer-content {
    width: 85%;
  }

  .footer p {
    font-size: 0.75rem;
  }
}
