/* --- NAVBAR --- */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 125px;
  background: transparent;
  z-index: 1000;
  transition: 1s ease-in-out;
}

/* EXPLANATION TO WHY THIS IS NEEDED - You need to remove the linear gradient from the background if the color of the navbar is not black */
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: opacity 1s ease-in-out;
  opacity: 1;
  pointer-events: none;
  z-index: -1;
}

.navbar:hover {
  /* NAVBAR background color */
  background-color: black;
}

.navbar:hover::before {
  opacity: 0;
}

/* --- NAVBAR LOGO --- */

.navbar .logo {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* --- NAVBAR LINKS */

.navbar .links a {
  position: relative;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.navbar .links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 10px;
  right: 0;
  transition: width 0.4s ease;
}

.navbar .links a:hover::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

/* --- MAIN IMAGE --- */

.main-image {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url("../Images/Bank.jpg");
  background-size: cover; /* stretch to fit */
  background-position: bottom;

  justify-content: center;
  align-content: center;
}

.main-image p {
  text-align: center;
  position: absolute;
  bottom: 20%;
  width: 100%;
  font-size: 1.25rem;
}
