[data-popup]:hover {
  cursor: pointer;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2001;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: popup-show 0.3s ease;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: max-content;
  height: max-content;
  min-height: 50%;
  min-width: 50%;
  max-width: 80%;
  max-height: 80%;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-close:hover {
  background-color: #cecece;
}

.popup .container form {
  width: 90%;
}

@keyframes popup-show {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(175, 175, 175, 0.1);
  backdrop-filter: blur(4px);
}
