.custom-form.updateuser {
  min-width: 500px;
}

#updateuser-email {
  color: #bbbbbb;
}

.form-submit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container button {
  background-color: var(--highlight-color);
}

.container button:hover {
  background-color: #ff7b5e;
}
