body {
  background-color: white;
}

.navbar {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
}

.charges-dashboard {
  display: flex;
}

.container h1,
p,
span {
  color: black;
}
